.Modal-header{
    width: 65%;
    height: 17%;
    display: flex;
    background-color: rgb(27, 26, 27);
    justify-content: center;
    align-items: center ;
}
.Modal-prev-assigment-header{
    width: 65%;
    height: 17%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(27, 26, 27);
}
.Fields-container{
    width: 85%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    margin-left: 2%;
}
.Prev-assigment-field-container{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    align-items: center;
    font-size: 1.2vw;
    
}
.Exceute-btn{
    --btn-size: 1.1vw;
    background-color: orange;
    color: white;
    border-radius: 1.5em;
    justify-content: center;
    display: flex;
    height:auto;
    width: 15%;
    margin-right: 2%;
    font-size:var(--btn-size);
    padding:calc(var(--btn-size)/3) 0 
  
}
.Exceute-btn:hover{
    /* background-color: aliceblue; */
    cursor: pointer;
    opacity: 0.9;
}

input{
    --inputText-size:30%;
   /* margin-top: 2%; */
   height:auto;
   width:var(--inputText-size);
   border-bottom-left-radius: 0.6em;
   border-bottom-right-radius: 0.6em;
   border-top-left-radius: 0.6em;
   border-top-right-radius: 0.6em;
   padding:calc(var(--inputText-size)/35);
   font-family: Helvetica, Arial, sans-serif;
   box-sizing: border-box; 
  
}